In [4]:
nums=[3,6,9,8,1,2,4]
i=0
for valu in nums:
       print(nums[i])
       i+=1

3
6
9
8
1
2
4

In [19]:
nums=[8,3,7,4,2,1,9]
def print_len(list):
    print(len(list))
    
print_len(nums)

7

In [31]:
def converter(usd_value):
    INR_value=usd_value*85
    print(usd_value,"USD=",INR_value,"INR")
converter(75)

75 USD= 6375 INR

In [38]:


def print_num(n):
    if(n%2==0):
        print("EVEN")
    else:
        print("ODD")
print_num(4)

EVEN

In [34]:

def calc_fact(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    print(fact)
calc_fact(5)

120